/Actividades/nbproject/private/
/Actividades/build/
/Adivinanzas1/nbproject/private/
/Adivinanzas1/build/
/Prog/Prueba/nbproject/private/
/Prog/Prueba/build/
/Prog/JanAndy/nbproject/private/
/Prog/PruebaYeti/nbproject/private/
/Prog/PruebaYeti/build/
/Prog/AEF Clases/AEF Clases/nbproject/private/
/Prog/AEF Clases/AEF Clases/build/
/Adivinanzas2/nbproject/private/
/Prog/Adivinanzas2/build/
/Prog/AEF Clases/Apis/nbproject/private/
/Prog/Apis/build/
/Prog/AEF Cadenas/nbproject/private/
/Prog/AEF Cadenas/build/
/Prog/AceptaElReto/nbproject/private/
/Prog/AceptaElReto/build/
/Prog/Registros/nbproject/private/
/Prog/Registros/build/
/Prog/Adivinanzas3/nbproject/private/
/Prog/Adivinanzas3/build/
/Prog/Tablas/nbproject/private/
/Prog/Tablas/build/
/Prog/Entorno/nbproject/private/
/Entorno/Entorno/nbproject/private/
/Entorno/Documentacion/Documentacion/nbproject/private/
/Entorno/Documentacion/Documentacion/dist/
/Prog/JanAndy/build/
/Entorno/Documentacion/Documentacion/build/
/Entorno/Documentacion/Agenda/nbproject/private/
/Entorno/Documentacion/Agenda/build/
/Entorno/Documentacion/AEF Vectores Objetos 2/nbproject/private/
/Prog/Calendario/nbproject/private/
/Prog/Calendario/build/
/Prog/AEF Vectores Objetos 2/nbproject/private/
/Prog/AEF Vectores Objetos 2/build/
/Prog/PruebaInterfaces/JanAndy/nbproject/private/
/Prog/PruebaInterfaces/JanAndy/build/
/Prog/PruebaInterfaces/AEF_Estructuras dinámicas/nbproject/private/
/Prog/AEF_Estructuras dinámicas/nbproject/private/
/Prog/AEF_Estructuras dinámicas/build/
/Prog/Conecta4/nbproject/private/
/Prog/Conecta4/build/
/Prog/TryCatch/nbproject/private/
/Prog/TryCatch/build/