/Actividades/nbproject/private/
/Actividades/build/
/Adivinanzas1/nbproject/private/
/Adivinanzas1/build/
/Prog/Prueba/nbproject/private/
/Prog/Prueba/build/
/Prog/JanAndy/nbproject/private/
/Prog/PruebaYeti/nbproject/private/
/Prog/PruebaYeti/build/
/Prog/AEF Clases/AEF Clases/nbproject/private/
/Prog/AEF Clases/AEF Clases/build/
/Adivinanzas2/nbproject/private/
/Prog/Adivinanzas2/build/
/Prog/AEF Clases/Apis/nbproject/private/
/Prog/Apis/build/
/Prog/AEF Cadenas/nbproject/private/
/Prog/AEF Cadenas/build/
/Prog/AceptaElReto/nbproject/private/
/Prog/AceptaElReto/build/
/Prog/Registros/nbproject/private/
/Prog/Registros/build/
/Prog/Adivinanzas3/nbproject/private/
/Prog/Adivinanzas3/build/
/Prog/Tablas/nbproject/private/
/Prog/Tablas/build/
/Prog/Entorno/nbproject/private/
/Entorno/Entorno/nbproject/private/
/Entorno/Documentacion/Documentacion/nbproject/private/
/Entorno/Documentacion/Documentacion/dist/
/Prog/JanAndy/build/
/Entorno/Documentacion/Documentacion/build/
/Entorno/Documentacion/Agenda/nbproject/private/
/Entorno/Documentacion/Agenda/build/
/Entorno/Documentacion/AEF Vectores Objetos 2/nbproject/private/
/Prog/Calendario/nbproject/private/
/Prog/Calendario/build/
/Prog/AEF Vectores Objetos 2/nbproject/private/
/Prog/AEF Vectores Objetos 2/build/
/Prog/PruebaInterfaces/JanAndy/nbproject/private/
/Prog/PruebaInterfaces/JanAndy/build/
/Prog/PruebaInterfaces/AEF_Estructuras dinámicas/nbproject/private/
/Prog/AEF_Estructuras dinámicas/nbproject/private/
/Prog/AEF_Estructuras dinámicas/build/
/Prog/Conecta4/nbproject/private/
/Prog/Conecta4/build/
/Prog/TryCatch/nbproject/private/
/Prog/TryCatch/build/
/Prog/Mensajeria/nbproject/private/
/Prog/Mensajeria/build/
/Prog/Flujos/nbproject/private/
/Prog/Flujos/build/
/Entorno/Refactorizacion/nbproject/private/
/Prog/Saltos Trampolin/JanAndy/nbproject/private/
/Prog/Saltos Trampolin/JanAndy/build/
/Prog/Saltos Trampolin/JanAndyMartinJaime/nbproject/private/
/Prog/Saltos Trampolin/JanAndyMartinJaime/build/
/Acceso a Datos/AEF_File/build/
/Sistema de Gestion/Actividades de respaso/ImplementacionJava/nbproject/private/
/Sistema de Gestion/Actividades de respaso/ImplementacionJava/build/
/Acceso a Datos/documentoDAT/build/
/PSP/AEF_Procesos Runtime/Ejemplos/build/
/PSP/AEF_ProcessBuilder/nbproject/private/
/PSP/AEF_ProcessBuilder/build/
/Desarrollo Interfaces/CalculadoraIMC/target/
/Desarrollo Interfaces/mavenproject1/target/
/Desarrollo Interfaces/mavenproject2/target/
/PSP/JanAndy/nbproject/private/
/PSP/JanAndy/build/
/Acceso a Datos/RAF_Prueba/nbproject/private/
/Acceso a Datos/RAF_Prueba/build/
/Desarrollo Interfaces/Login/target/
/PSP/AEE_Practica_UD1/target/
/PSP/AEE_Practica_UD1/nbproject/private/
/PSP/AEE_Practica_UD1/build/
/Acceso a Datos/FicherosObjetos/nbproject/private/
/Acceso a Datos/FicherosObjetos/build/
/Sistema de Gestion/Actividades de respaso/RegistrarUsuarios/target/
/Desarrollo Interfaces/Registro/target/
/PSP/AEF_UD2/nbproject/private/
/PSP/AEF_UD2/build/
/Acceso a Datos/ManejoXML/nbproject/private/
/Acceso a Datos/ManejoXML/build/
/PSP/AEE_Estado_De_Hilos/nbproject/private/
/PSP/AEE_Estado_De_Hilos/build/
/PSP/AEE_Practica_UD2/nbproject/private/
/PSP/AEE_Practica_UD2/build/
/Acceso a Datos/PruebaFichaIndex/nbproject/private/
/Acceso a Datos/PruebaFichaIndex/build/
/PSP/AEE_Practica_UD2_Host/nbproject/private/
/PSP/AEE_Practica_UD2_Host/build/
